---
import { getEntry, getEntries } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import {
	InfoDisplay,
	ListSection,
	LanguageSection,
	SkillsSection,
	InterestsSection,
	SignedSection
} from "../../components";
import { translations } from "../../util/translations";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	return [
		{ params: { language: "en" }, props: { language: "en" } },
		{ params: { language: "de" }, props: { language: "de" } },
	];
}

// 2. For your template, you can get the entry directly from the prop
const language = Astro.props.language as unknown as "de" | "en";

const profile = await getEntry("profile", `${language}/richard`);
if (!profile) {
	return new Response("No profile with matching language!", {
		status: 404,
		statusText: "Not Found",
	});
}
const info = await getEntry(profile.data.info);
const professionalExperience = await getEntries(
	profile.data.professionalExperience,
);
const education = await getEntries(profile.data.education);
const languages = await getEntries(profile.data.languages);
const skills = await getEntries(profile.data.skills);
const interests = await getEntry(profile.data.interests);
---

<Layout title="Profile">
	<div class="m-10 grid grid-cols-2 gap-2">
		<div class="col-span-2">
			<InfoDisplay {info} withImage />
		</div>
		<div class="col-span-2">
			<ListSection
				entries={professionalExperience}
				title={translations[language].professionalExperience}
				presentLabel={translations[language].present}
			/>
		</div>
		<div class="col-span-2">
			<ListSection
				entries={education}
				title={translations[language].education}
				presentLabel={translations[language].present}
			/>
		</div>
		<div class="row-span-2">
			<SkillsSection
				entries={skills}
				title={translations[language].skills}
			/>
		</div>
		<LanguageSection
			entries={languages}
			title={translations[language].languages}
		/>
		<InterestsSection
			entry={interests}
			title={translations[language].interests}
		/>
		<div class="col-start-2 mt-1">
			<SignedSection {info} />
		</div>
	</div>
</Layout>
