---
import { Image } from "astro:assets";
import { MapPin, Mail, Smartphone } from "lucide-react";
import { type CollectionEntry } from "astro:content";

interface Props {
	info: CollectionEntry<"info">;
	displayCountry?: boolean;
	withImage?: boolean;
}

const { info, displayCountry, withImage } = Astro.props;
const data = info.data;
---

<header class="max-h-96">
	<div class="flex place-content-between">
		<div class="flex flex-col gap-3">
			<h1
				itemprop="name"
				class="font-display text-3xl font-black uppercase text-richgreen-700"
			>
				{data.fullName}
			</h1>
			<div class="p-2 text-sm">
				<div class="flex place-items-center gap-2">
					<MapPin size={16} className="text-richgreen-700" />
					<div itemprop="address">
						<p>{data.address}</p>
						<p>
							{data.zip}
							{data.city}{displayCountry && `, ${data.country}`}
						</p>
					</div>
				</div>
				<div class="flex place-items-center gap-2">
					<Smartphone size={16} className="text-richgreen-700" />
					<p itemprop="telephone">{data.phone}</p>
				</div>
				<div class="flex place-items-center gap-2">
					<Mail size={16} className="text-richgreen-700" />
					<p itemprop="email">{data.email}</p>
				</div>
			</div>
		</div>
		{
			withImage && (
				<Image
					itemprop="image"
					width={150}
					height={150}
					alt="handsome boi/gurl"
					src="/image.jpg"
					class="rounded-full border-2 border-richgreen-700 shadow-inner"
				/>
			)
		}
	</div>
</header>
