---
import { Image } from "astro:assets";
import { MapPin, Mail, Smartphone } from "lucide-react";
import { type CollectionEntry } from "astro:content";

interface Props {
    info: CollectionEntry<"info">;
	withImage?: boolean;
}

const {info, withImage} = Astro.props;
const data = info.data;
---

<div class="max-h-96">
    <div class="flex place-content-between">
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-black font-display uppercase text-richgreen-700">{data.fullName}</h1>
            <div class="text-sm">
                <div class="flex gap-2 place-items-center">
                    <MapPin size={16} className="text-richgreen-700"/>
                    <div>
                        <p>{data.adress}</p>
                        <p>
                            {data.zip} {data.city}
                        </p>
                    </div>
                </div>
                <div class="flex gap-2 place-items-center">
                    <Smartphone size={16} className="text-richgreen-700"/>
                    <p>{data.phone}</p>
                </div>
                <div class="flex gap-2 place-items-center">
                    <Mail size={16} className="text-richgreen-700" />
                    <p>{data.email}</p>
                </div>
            </div>
        </div>
        <div>
            <Image width={150} height={150} alt="handsome boi/gurl" src="/image.jpg" class="rounded-full border-2 shadow-inner border-richgreen-700"></Image>
        </div>
    </div>
</div>